{% if page.github or page.chrome_web_store or page.references.size > 0 %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Resources</h3>
    </div>
    <div class="list-group">
      {% for github in page.github %}
        <a class="list-group-item" href="https://github.com/{{github}}">
          <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png"
              height="24"
          />
          {{github}}
        </a>
      {% endfor %}
      {% if page.chrome_web_store %}
        <a class="list-group-item" href="https://chrome.google.com/webstore/detail/{{page.chrome_web_store}}">
          <img src="http://orig01.deviantart.net/d48e/f/2012/300/3/7/chrome_web_store_new_icon_by_brebenel_silviu-d5j4agq.png"
              height="24"
          />
          Chrome Web Store
        </a>
      {% endif %}
      {% if page.references.size > 0 %}
        {% for reference in page.references %}
          <a class="list-group-item" href="{{ reference.url }}">{{ reference.title }}</a></li>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}
