body {
  margin: 0;
  margin-top: 90px;
}


#wrapper {
}

#wrapper img {
  max-width: 100%
}

.navbar {
  min-height: 92px;
  border-bottom: 6px solid #ff0
}

.footer {
  margin-top: 60px;
  width: 100%;
  line-height: 60px;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  border-top: 1px solid #f0f0f0;
}
