{% include header.html %}

{% assign parents = site.pages |where_exp: "i", "page.belongs_to contains i.path" %}

<div id="wrapper" class="container">
  <h1 class="page-header">{{page.title}}</h1>
  <div class="row">
    <div class="col-md-8" id="post">
      {{content}}
    </div>
    <div class="col-md-4">
      {% include authors.html %}
      {% include resources.html %}

      {% if parents.size > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Related to this Post</h3>
        </div>
        <div class="list-group">
          {% for post in parents %}
          <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Other Posts</h3>
        </div>
        <div class="list-group">
          {% for post in site.posts %}
          <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
