{% include header.html %}

<div id="wrapper" class="container">
  <h1 class="page-header">{{page.title}}</h1>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      {{content}}
    </div>
    <div class="col-md-4 col-sm-4">
      {% include resources.html %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Publications</h3>
        </div>
        <div class="list-group">
          {% assign related = site.posts |where_exp: "i", "i.belongs_to contains page.path" |sort: "date" %}
          {% for post in related %}
            <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </div>
      </div><!-- panel -->


    </div><!-- col-md-4 -->
  </div><!-- row -->
</div><!-- wrapper -->

{% include footer.html %}
